name: Build and Push to DockerHub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get git SHA
        id: git-sha
        run: echo "sha=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: ./daily-updates-bot
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/akxr-bots:${{ steps.git-sha.outputs.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/akxr-bots:latest